body {
  min-height: calc(100vh - 16px);
  background-color: #ddd;
}

/* Connection Panel Non-Expanded*/
.expansionPanelSummary{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.expansionPanelSummary svg{
  margin-left: 1rem;
}
/* Connection Panel Expanded Content */
.connectionPanelDetails{
  display: flex;
  align-items: stretch;
}
.hostInput{
  width: 100%;
}
.saveButton{
  width: 100%;
  max-width: 8rem;
  min-height: 3rem;
}

/* Control panel spacing */
.controlsContainer > * {
    display: block;
    margin-bottom: 2rem;
}

.controlsContainer > *:last-child, .controlsContainer > span {
    margin-bottom: 0;
}

.cameraDisplay, .cameraDisplay img{
  width: 100%;
  min-height: 5px;
}
.gridConnection{
  width: 100%;
}
.gridPaper{
  padding: 12px 24px;
  width: 100%;
}

/* Spins the "pinging / loading" connection icon */
.spin{
  -webkit-animation:_spin 2s linear infinite reverse;
  -moz-animation:_spin 2s linear infinite reverse;
  animation:_spin 2s linear infinite reverse;
}
@-moz-keyframes _spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes _spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes _spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }